<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/mdzaman/Downloads/Business/Bangladesh/students2023/sheba">
        <classes>
            <class name="com.gits.herokuapp.java.tests.InvalidPassword"></class>
            <class name="com.gits.herokuapp.java.tests.InvalidUsername"></class>
            <class name="com.gits.herokuapp.java.tests.InvalidUsernamePassword"></class>
            <class name="com.gits.herokuapp.java.tests.ValidUsernamePassword"></class>
        </classes>
    </test>
</suite>